<h2>Users</h2>
<table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= users_url(format: "json") %>">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>
