<h2>Roles</h2>
<%= link_to 'View Users', users_path%>

<table id="roles" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= roles_url(format: "json") %>">
  <thead>
  <tr>
    <th>Title</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to 'New Role', new_role_path%>